{{ if .page.has_children != true }}
    <a class="{{ if .page.url == .RelRef }}active{{ end }}" href="{{.page.url}}">{{.page.title}}</a>
{{ else }}
    <details {{ if .current.url contains .page.url }}open{{ endif }}>
        <summary class="{{ if .page.url == .current.url }}active{{ endif }}"><a href="{{.page.url}}">{{.page.title}}</a></summary>
        <div>
            {{ range sort .Site.Pages "nav_order" }}
                {{ if .parent == $page.title and $page.title != nil }}
                    {{ $ctx := dict 
                        "page" .
                        "current" $current
                    }}
                    {{ partial nav_item $ctx }}
                {{ endif }}
            {{ endfor }}
        </div>
    </details>
{{ endif }}