<div class="navbar" role="navigation">
    <div>
        <h1 style="color: var(--text-colour) !important;"><a href="/" style="text-decoration: none; color: unset !important; background: none !important; padding: 0 !important;">Kindle Modding Wiki</a></h1>
    </div>

    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search...">
        <div id="search-results"></div>
    </div>

{{- define "nav_item" -}}
    {{- if .page.IsSection -}}
        <details {{ if strings.Contains .current.Path .page.Path }}open{{ end }}>
            <summary class="{{if eq .page.Path .current.Path}}active{{end}}"><a href="{{ .page.Ref (dict "path" .page.Path) }}">{{.page.LinkTitle}}</a></summary>
            <div>
                {{- $page := .page -}}
                {{- $current := .current -}}
                {{- range sort site.AllPages "Weight" -}}
                    {{- if and (eq .Parent $page) (not .Params.navbar_exclude) -}}
                        {{- $ctx := dict 
                            "page" .
                            "current" $current
                        -}}
                        {{ template "nav_item" $ctx }}
                    {{- end -}}
                {{- end -}}
            </div>
        </details>
    {{- else -}}
        <a class="{{ if eq .page.Path .current.Path }}active{{ end }}" href="{{ .page.Ref (dict "path" .page.Path) }}">{{.page.LinkTitle}}</a>
    {{- end -}}
{{- end -}}

    {{- $current := page -}}
    {{- range sort site.AllPages "Weight" -}}
        {{- if and (eq (.Path | strings.Count "/") 1) (not .Params.navbar_exclude) -}}
            {{- $ctx := dict 
                "page" .
                "current" $current
            -}}
            {{ template "nav_item" $ctx }}
        {{- end -}}
    {{- end -}}

    <details>
        <summary>Settings</summary>
        <select id="theme-selector" style="margin-left: 2em; padding: 0.5em; background-color: var(--background-accent); color: var(--text-colour);">
            <option value="light">Light Mode</option>
            <option value="dark">Dark Mode</option>
        </select>
    </details>

    <script>
        document.getElementById("theme-selector").value = localStorage.getItem("theme");
        document.getElementById("theme-selector").addEventListener('input', (event) => {
            localStorage.setItem("theme", document.getElementById("theme-selector").value);
            if (document.startViewTransition)
            {
                document.startViewTransition(() => {
                    refreshTheme();
                });
            }
            else
            {
                refreshTheme();
            }
        });
    </script>

    <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4468899728405672"
     data-ad-slot="9487924817"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
</div>