<!-- How ba-a-a-ad can I be? -->
<!-- I'm just doing what comes naturally -->
<!-- How ba-a-a-ad can I be? -->
<!-- I'm just building an economy -->
<div id="ads">
</div>

<script>
     function lessAds()
     {
          document.getElementById("ads").children[document.getElementById("ads").children.length - 1].remove();

          localStorage.setItem("ads", document.getElementById("ads").children.length)
     }

     function addAd()
     {
          if (Number(localStorage.getItem("ads")) == 0)
          {
               const adScript = document.createElement("script");
               adScript.setAttribute("async", "true");
               adScript.setAttribute("crossorigin", "anonymous");
               adScript.src = "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4468899728405672";
               document.body.appendChild(adScript);
          }
          
          let advertNode = document.createElement("ins");
          advertNode.classList.add("adsbygoogle");
          advertNode.style.display = 'block';
          advertNode.setAttribute("data-ad-client", "ca-pub-4468899728405672");

          if (document.getElementById("ads").children.length == 0)
          {
               
               advertNode.setAttribute("data-ad-slot", "9487924817");
               advertNode.setAttribute("data-ad-format", "auto");
               advertNode.setAttribute("data-full-width-responsive", "true");
          }
          else
          {
               advertNode.setAttribute("data-ad-format", "autorelaxed");
               advertNode.setAttribute("data-matched-content-ui-type", "image_stacked");
               advertNode.setAttribute("data-matched-content-rows-num", "3");
               advertNode.setAttribute("data-matched-content-columns-num", "3");
               advertNode.setAttribute("data-ad-slot", "1868153772");
          }

          document.getElementById("ads").appendChild(advertNode);
     }

     function noAds()
     {
          document.getElementById("ads").innerHTML = "";
          localStorage.setItem("ads", 0);
          document.location.reload(); // Bc google is stupid
     }

     function moreAds()
     {
          addAd();
          (adsbygoogle = window.adsbygoogle || []).push({});
          localStorage.setItem("ads", document.getElementById("ads").children.length)
     }

     if (Number(localStorage.getItem("ads")) === null)
     {
          localStorage.setItem("ads", 3);
     }

     while (Number(localStorage.getItem("ads")) > document.getElementById("ads").children.length)
     {
          addAd()
     }
</script>

<button onclick="lessAds()" class="btn">Less Ads</button>
<button onclick="moreAds()" class="btn">More Ads</button>
<button onclick="noAds()" class="btn">No Ads</button>
