<div style="bottom: 0;">
    <p>This site uses optional third-party cookies<br/>
    <a onclick="changeCookies();">Click Here</a> to change</p>
</div>

<!-- How ba-a-a-ad can I be? -->
<!-- I'm just doing what comes naturally -->
<!-- How ba-a-a-ad can I be? -->
<!-- I'm just building an economy -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4468899728405672"
crossorigin="anonymous"></script>
<!-- KMC Footer Single Ad -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-4468899728405672"
data-ad-slot="9487924817"
data-ad-format="auto"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4468899728405672"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-4468899728405672"
     data-matched-content-rows-num="3"
     data-matched-content-columns-num="3"
     data-ad-slot="1868153772"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>