{% if include.page.has_children != true %}
    <a class="{% if include.page.url == include.current.url %}active{% endif %}" href="{{include.page.url}}">{{include.page.title}}</a>
{% else %}
    <details {% if include.current.url contains include.page.url %}open{% endif %}>
        <summary class="{% if include.page.url == include.current.url %}active{% endif %}"><a href="{{include.page.url}}">{{include.page.title}}</a></summary>
        <div>
            {% assign pages = site.pages | sort: "nav_order" %}
            {% for page in pages %}
                {% if page.parent == include.page.title and include.page.title != nil %}
                    {% include nav_item.html page=page current=include.current %}
                {% endif %}
            {% endfor %}
        </div>
    </details>
{% endif %}