<!doctype html>
<html lang="en">
  <head>
    {% include head_global.html %}

    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include header.html %}

    <script>
      for (const child of document.getElementById("headerLinks").children) {
        if (child.getAttribute("nav_name") == "{{ page.nav_name }}") {
          child.classList.add("active");
          break;
        }
      }
    </script>

    <div class="pageWrapper">
      {% include navbar.html %}

      <div class="pageContent">
        <div class="mainContent">
          {{ content }}
        </div>

        {% include footer.html %}
      </div>
    </div>
  </body>
</html>